<!DOCTYPE html>
<html>
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}LabSec{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'website/img/av.png' %}" type="image/png">

        <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/master.css' %}">

        {% block styles %}{% endblock %}
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'website:index' %}">
              <img src="{% static 'website/img/av.png' %}" height="45px">
            </a>
            <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarA" 
                aria-controls="navbarA" aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarA">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'website:index' %}"><b>Página Inicial</b></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'website:exemplos' %}"><b>Exemplos API</b></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'website:erro' %}"><b>Status Code e Erros</b></a>
                    </li>
                </ul>
            </div>
            
            
        </nav>
        
        <!-- Conteúdo do site -->
        {% block conteudo %}{% endblock %}

        <!-- Scripts .js -->
        <script src="{% static 'website/js/jquery.min.js' %}"></script>
        <script src="{% static 'website/js/bootstrap.min.js' %}"></script>

        {% block scripts %}{% endblock %}

        <script src="{% static 'website/js/scripts.js' %}"></script>
    </body>
    
</html>
